<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On  
	# Condition -> IF IT'S NOT FILE, REDIRECT TO index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	
	RewriteRule ^(.*)$ /index.php [QSA,L]
	#QUERY STRING APPEND LOAD
</IfModule>